.screen {

    z-index: 5;

    &__info {
        width: 600px;
    }

    &__title {
        color: rgb(255, 255, 255);
        font-family: PrataRegular;
        @include adaptiv-font(80,50);
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 16px;
    }

    &__subtitle {
        color: rgb(255, 255, 255);
        font-family: Arial;
        @include adaptiv-font(50,30);
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 37px;
    }

    &__list {
        margin-bottom: 28px;
    }

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 12px;
        }


        &-text {
            color: rgb(255, 255, 255);
            font-family: Arial;
            @include adaptiv-font(24, 15);
            font-weight: 400;
            line-height: 110%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            word-break: break-word;

            span {
                color: rgb(255, 255, 255);
                font-family: PrataRegular;
                @include adaptiv-font(40, 20);
                font-weight: 400;
                line-height: 150%;
                text-transform: uppercase;
                margin: 0 10px 0 0;
            }
        }

        img {
            margin-right: 18px;
        }
    }

    &__btn {
        width: 191px;
        height: 96px;
    }
}


@media (max-width: 1600px) {
    .screen {
        padding: 130px 0;
    }
}

@media (max-width: 800px){
    .screen{
        &__info{
            width: 100%;
        }
    }
}

@media (max-width: 550px){
    .screen{
        padding: 80px 0;
        &__btn{
            width: 100%;
        }
    }
}